<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Website for home NHL Score Ticker Application">
    <meta name="author" content="Noah Nuechterlein">

    <title>NHL Score Ticker</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/vendor/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="static/img/playericon2.png"/>
    <!-- Custom Fonts -->
        <script src="../static/Snap.svg-0.4.1/dist/snap.svg-min.js"></script>

	<link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Plugin CSS -->
    <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="static/css/creative.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">NHL Scores</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#scores">Live Scoreboard</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#subscription">Manage Subscriptions</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">NHL Score Ticker</h1>
                <hr>
                <p>Scores in your living room</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="no-padding bg-primary" id="about">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 text-center">
                            <div>&nbsp;</div>
                            <div>&nbsp;</div>
                            <div>&nbsp;</div>
                            <h2 class="section-heading">What have we developed?</h2>
                            <hr class="light">
                            <p class="text-faded">The NHL Score ticker is an in home led light board application printing live hockey scores from around the league. We are also offering SMS notifications for score updates as soon as we receive the updated scores. In the future, look forward to players of the day and week as well as weekly fantasy summaries.</p>
                            <div>&nbsp;</div>
                            <div>&nbsp;</div>
                            <div>&nbsp;</div>

                        </div>

                    </div>
                </div>
	
                    <div class="row no-gutter popup-gallery">
                        <div class="col-lg-4 col-sm-6">
                            <a href="static/img/portfolio/fullsize/sbi1.jpg" class="portfolio-box">
                                <img src="static/img/portfolio/thumbnails/sbi1.jpg" name="image1" class="img-responsive" alt="">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            Expand
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a href="static/img/portfolio/fullsize/sbi3.jpg" class="portfolio-box">
                                <img src="static/img/portfolio/thumbnails/sbi3.jpg" name="image2" class="img-responsive" alt="">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            Expand
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a href="static/img/portfolio/fullsize/sbg2.gif" class="portfolio-box">
                                <img src="static/img/portfolio/thumbnails/sbgi2.gif" name="image3" class="img-responsive" alt="">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            Play
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a href="static/img/portfolio/fullsize/sbg1.gif" class="portfolio-box">
                                <img src="static/img/portfolio/thumbnails/sbgi1.gif" name="image4" class="img-responsive" alt="">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            Play
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a href="static/img/portfolio/fullsize/sbi4.jpg" class="portfolio-box">
                                <img src="static/img/portfolio/thumbnails/sbi4.jpg" name="image5" class="img-responsive" alt="">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            Expand
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a href="static/img/portfolio/fullsize/sbi2.jpg" class="portfolio-box">
                                <img src="static/img/portfolio/thumbnails/sbi2.jpg" name="image6"class="img-responsive" alt="">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            Expand
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
</section>
    <section id="scores">
        <div class="container"> 
            <div class="row"> 
                <div class="col-lg-12 text-center"> 
                    <h2 class="section-heading">Live Scoreboard</h2>
			                    <hr class="primary">

                                    <div>&nbsp;</div>          
                </div>
		</div>
	</div>
                <div style="display:flex;justify-content:center; margin:0 auto; width:1400px;height:200px;background:#8B4618;" id="svg">
	                <svg style="margin: 0 auto; width:1380px;height:200px;right:10px;top:10px;" id="svg2"></svg>
                </div>

        <div class="container">
            <div class="row">
                <div>&nbsp;</div>

            </div>
        </div>
    </section>
        <section class="no-padding bg-dark" id="subscription">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">

                        <h2>Create/Manage Subscription</h2>
                        <form>
                            <div class="form-group">
                                <label for="email">Phone #:</label>
                                <input type="tel" name="phoneInput" class="form-control" id="telaphone" placeholder="Enter Phone #">
                                <div class="collapse" id="collapseExample">
                                    <div>&nbsp;</div>
                                    <label>Your Name:</label>
                                    <input type="text" name="nameInput" class="form-control" id="fullname" placeholder="Enter your name">
                                    <div>&nbsp;</div>

                                    <div class="btn-group">
                                        <button type="button" name="subscribeButton" value="1" class="btn btn-primary">Full Subscription</button>
                                        <button type="button" name="unsubscribeButton" value="0" class="btn btn-primary">Unsubscribe</button>
                                    </div>
                                    <div>&nbsp;</div>
                                    <label>Receive SMS Game Updates? &nbsp;&nbsp;  </label>
                                    <input type="checkbox" class="innerCheckbox" data-toggle="collapse" data-target="#collapseExampleInner" aria-expanded="false" aria-controls="collapseExampleInner" name="my-checkbox" checked>
                                    <div>&nbsp;</div>
                                    <div style="padding-left: 50px">
                                    <div class="collapse" id="collapseExampleInner">
                                        <div class="dropdown">
                                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                Days of the week
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="">Every Day</a></li>
                                                <li><a href="">Weekdays</a></li>
                                                <li><a href="">Weekends</a></li>
                                                <li><a href="">Mondays</a></li>
                                                <li><a href="">Tuesdays</a></li>
                                                <li><a href="">Wednesdays</a></li>
                                                <li><a href="">Thursdays</a></li>
                                                <li><a href="">Fridays</a></li>
                                                <li><a href="">Saturdays</a></li>
                                                <li><a href="">Sundays</a></li>

                                            </ul>
                                        </div>
                                    <div>&nbsp;</div>

                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                            Time of Day Start
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="">Begining of Day</a></li>
                                            <li><a href="">1 pm</a></li>
                                            <li><a href="">2 pm</a></li>
                                            <li><a href="">3 pm</a></li>
                                            <li><a href="">4 pm</a></li>
                                            <li><a href="">5 pm</a></li>
                                            <li><a href="">6 pm</a></li>
                                            <li><a href="">7 pm</a></li>
                                            <li><a href="">8 pm</a></li>
                                            <li><a href="">9 pm</a></li>
                                        </ul>
                                    </div>
                                    <div>&nbsp;</div>

                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                            Time of Day End
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="">3 pm</a></li>
                                            <li><a href="">4 pm</a></li>
                                            <li><a href="">5 pm</a></li>
                                            <li><a href="">6 pm</a></li>
                                            <li><a href="">7 pm</a></li>
                                            <li><a href="">8 pm</a></li>
                                            <li><a href="">9 pm</a></li>
                                            <li><a href="">10 pm</a></li>
                                            <li><a href="">11 pm</a></li>
                                            <li><a href="">12 pm</a></li>
                                            <li><a href="">End of Day</a></li>

                                        </ul>
                                    </div>
                                    <div>&nbsp;</div>

                                        </div>
                                        </div>
                                    <label>Receive player of the day? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
                                    <input class="innerCheckbox" type="checkbox" name="my-checkbox2" disabled="true" unchecked>
                                    <div>&nbsp;</div>
                                    <label>Receive weekly summary? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </label>
                                    <input class="innerCheckbox" type="checkbox" name="my-checkbox3" disabled="true" unchecked>
                                    <div>&nbsp;</div>


                                    </div>
                                </div>
                          <!--  <div name="successText" class="collapse" id="collapseChanged"> -->
                                <h6 name="successText" style="color:lightgreen"></h6>
                          <!--  </div> -->
                        </form>
                        <button class="btn btn-primary" name="submitButton" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Submit
                        </button>
                        <div>&nbsp;</div>
                    </div>
                    </div>
            </div>
        </section>
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">Let's Get In Touch!</h2>
                        <hr class="primary">
                        <p>Have suggestions for improvements or new features, let me know.</p>
                    </div>
                    <div class="col-lg-4 col-lg-offset-2 text-center">
                        <i class="fa fa-phone fa-3x sr-contact"></i>
                        <p>989-698-6724</p>
                    </div>
                    <div class="col-lg-4 text-center">
                        <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                        <p><a href="mailto:ncnuech@umich.edu">ncnuech@umich.edu</a></p>
                    </div>
                </div>
            </div>
        </section>
        <!-- jQuery -->
        <script src="static/vendor/jquery/jquery.min.js"></script>
        <script src="static/vendor/bootstrap-switch-master/dist/js/bootstrap-switch.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!-- Plugin JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
        <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
        <!-- Theme JavaScript -->
        <script src="static/js/creative.min.js"></script>
	<script src="static/js/qwest.min.js"></script>
    <script type="text/javascript">
	
        window.onload = function () {
            var subscriptionsOpen = false;
       	//var s = Snap("#scoreboard-container")   
//	var s2 = Snap("#svg")
//	var outerRect = s2.rect(0,0,1200,200);
//	outerRect.attr('fill','#8B4618');
	var s = Snap("#svg2")
	var innerRect = s.rect(0,10,1380,180);	
	innerRect.attr('fill','#000000')
	
	var message="LED Display Off"
	var messageLen = message.length
	
	//var scrollText = s.text(1400,140,message);
	
	var animateText = function (){
		console.log("hello")
		//s.remove(scrollText)
		console.log(message.length)	
		var scrollText = s.text(1400,140,message);
		messageLen = message.length
		scrollText.attr({'stroke':'red','font-size':"100px",'stroke-width':"10px",'font-family':"Arial",'letter-spacing':"5px"})
		var multiplier = 1
		if (messageLen > 130){
			multiplier = .8
		}else if (messageLen < 60) {
			multiplier = 1.75
		}
		scrollText.animate({ transform:'translate(-' + messageLen*75*multiplier + ',0)'}, messageLen*200*multiplier,"",function(){
			console.log("recusing")	
			scrollText.remove()
			animateText()
		});
	}
	
	var getPlayersOfDay = function() {
		$.ajax({
                  url: '/returnPlayersOfDay',
                  data: "",
                  success: successFunc3,
                  dataType: "text"
                });
                function successFunc3(data){

                        if (data.length !== 0){
                               console.log(data)
                        }
                }

	}
	getPlayersOfDay()
	animateText()
	//var s2 = Snap("#svg")
        //var outerRect = s2.rect(0,0,1200,200);
        //outerRect.attr('fill','#8B4618');
	setInterval(function() {

                $.ajax({
                  url: '/checkForUpdate',
                  data: "",
                  success: successFunc2,
                  dataType: "text"
                });
                function successFunc2(data){
         
			if (data.length !== 0){
				console.log("switching to |" + data +"| as data")
				
				message=parseFormattedString(data)             
                	}
		}	
	
	},10000);
	var parseFormattedString = function(message) {
		var count = 0;
		var counting = false;
		var newMessage=""
		console.log("---------------")
		for (var i = 0, len = message.length; i < len; i++) {
			if (message[i] == "~"){
				count = 0;	
				counting=true;
			}else if (counting) {
				count++;
				if (count >= 8) {
					counting = false;
				}
			}else {
				newMessage = newMessage + message[i]
			}
		}
		console.log(newMessage)
		return newMessage
	}
	var attatchListeners = function () {
                $("[name='submitButton']").click(subscriptionSubmit);
                $("[name='subscribeButton']").click(updateNotifications);
                $("[name='unsubscribeButton']").click(updateNotifications);
            }
            var subscriptionSubmit = function (event) {
                if (subscriptionsOpen){
                    console.log("print changes to file")
			makeAddPostRequest()
                }
                if (subscriptionsOpen) {
                    subscriptionsOpen = false;
                }
                else {
                    subscriptionsOpen = true;
			makeAddGetRequest()
			$("[name='successText']").text("")
                }
            }
            var updateNotifications = function (event) {
                var newValue = parseInt(event.target.value);
                if (newValue === 1) {
                    $(".innerCheckbox").each(function () {
                        if (!$(this).bootstrapSwitch('state')) { //check if is not checked
                            $(this).bootstrapSwitch('toggleState'); //change the checkbox state
                        }
                    });
                }
                else {
                    $(".innerCheckbox").each(function () {
                        if ($(this).bootstrapSwitch('state')) { //check if is not checked
                            $(this).bootstrapSwitch('toggleState'); //change the checkbox state
                        }
                    });
                }

            }
	function makeAddPostRequest() {
  		console.log("in makeAddPostRequest")
		var _phone = String($("[name='phoneInput']").val())
		var _name = $("[name='nameInput']").val()
		console.log(_phone)
		console.log(_name)
		
		var _scoring = $("[name='my-checkbox']").is(':checked')
		console.log("________")	
		console.log(_scoring)
		if (_scoring){
			_scoring = "TRUE"
		} else {
			_scoring = "FALSE"
		}
		console.log(_scoring)
		var data = {
    			'phone': _phone, 
    			'name': _name,
			'scoringPlays': _scoring
  		};

		$.ajax({
		  type: "POST",
		  url: '/subscription',
		  data: data,
		  success: successFunc,
		  dataType: "text"
		});
		function successFunc(){
			console.log("success")
			$("[name='successText']").text("Settings Changed!")
		}
	}

        function makeAddGetRequest() {
                var data = {
                        'phone': String($("[name='phoneInput']").val())
	                };

                $.ajax({
                  url: '/checkSubscription',
                  data: data,
                  success: successFunc2,
                  dataType: "json"
                });
                function successFunc2(data){
                        console.log("get returned")
                  	$("[name='nameInput']").val(data.name)
			console.log(data.update + "    " + $("[name='my-checkbox']").val())
			value = ""
			if (String($("[name='my-checkbox']").val()) === "on"){
				value=1
			}
			else {
				value = 0
			}
                        console.log(data.update + "    " + value)
			if (value !==  data.update){
				$("[name='my-checkbox']").bootstrapSwitch('toggleState')
			}
                }
        }


 
	//	$("[name='image1').attr("src","static/img/portfolio/fullsize/sbi2.jpg");
            attatchListeners();
        }

        $("[name='my-checkbox']").bootstrapSwitch();
        $("[name='my-checkbox2']").bootstrapSwitch();
        $("[name='my-checkbox3']").bootstrapSwitch();

        $(document).ready(function () {
            console.log("here");
        });

    </script>
</body>

</html>
