<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Computer Science in Engineering at University of Michigan">
    <meta name="author" content="Noah Nuectherlein">

    <title>Noah Nuechterlein</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/grayscale.css" rel="stylesheet">

    <link rel="icon" href="/static/files/icon.png" />
    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<BODY style="background-color:black;">
    <!-- Intro Header -->
        <div class="intro-body">
            <div class="container">
                <div style="text-align:center; padding-top:50px";>
                    <h1 class="brand-heading">What I'm Listening To Right Now</h1>
                </div>
            </div>
        </div>
        <iframe style="border:none; float:left; padding-top:50px; padding-left:50px; padding-right:50px;" src="http://files.podsnack.com/iframe/embed.html?hash=a13e7qll&t=1461289020" width="500" height="429" allowfullscreen="true" mozallowfullscreen="true"></iframe>
        <div class="p" style="padding-top:50px; padding-left:100px; padding-right:50px;text-align:left;  font-size:16px" ;>
            <div style="font-weight:700; font-size:20px;">What Is This?</div><br /><br />
            This is the current iteration of that playlist, the music that i listen to on repeat day in and day out because I dont branch out.
            I usually leave a playlist in my car for 3-6 months, so odds are this wont be updated too often!
            I tend to most enjoy the self named genre of "uptempo folk pop" think Mumford or Trampled by Turtles.
            If you've been listening to anything lately that I might love, message me! <br /> <br />
            I apologize for the Ad at the beginning of the playlist, I thought the widget was nice and involved no code at all, so if I don't get some more motivation we are going to have to listen to the 5 second Ad. <br /><br /><br />

            <div style="font-weight:700; font-size:20px;"> Thoughts on the current playlist:</div><br /><br />
            Seriously, listen to Anthony D'Amato.
        </div>
    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>

    <!--	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> -->
    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <!-- <script type="/text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> -->
    <!-- Custom Theme JavaScript -->
    <script src="/static/js/grayscale.js"></script>
</BODY>

</html>

