<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Computer Science in Engineering at University of Michigan">
    <meta name="author" content="Noah Nuectherlein">
	
    <title>Noah Nuechterlein</title>
	<!-- This was made with the greyscale template, I would also like to give attribution to Thomas Zachariah, who i stole the idea for the template as well ideas for elements of the design
		find his website at http://thomaspzachariah.com/ -->
		
    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/grayscale.css" rel="stylesheet">
    
	<link rel="icon" href="/static/files/icon.png" />
    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i style="color:black" class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-home"></i>  <span class="light">Noah </span> Nuechterlein
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
          			<li>
                        <a class="page-scroll" href="#projects">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
					<li>
						<a href="/static/files/NuechterleinResume.pdf" class="page-scroll"><i class="fa fa-file-pdf-o"></i> <span class="network-name">CV</span></a>
					</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                 <!--   <div class="col-md-8 col-md-offset-2"> -->
                        <h1 class="brand-heading">Noah Nuechterlein</h1>
                        <p class="intro-text">Software Engineer <br>Epic Systems</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                 <!--   </div> -->
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
        	<div class="col-lg-8 col-lg-offset-2">
        		<h2>About Noah Nuechterlein</h2>
        	</div>
            <div class="aboutMe-center aboutMe-side">
                <img src="/static/files/photo.thumbnail.JPG" style="border-radius:200px; height:220px; margin:20px; width:270px" />
                <div style="font-size: 24px; text-align: center" ;>
                    <phead>General Information</phead>
                </div>
                <div class="aboutMe-list-center aboutMe-list-side aboutMe-list-center-small">
                    <li>Job:</li>
                    <li>Company:</li>
                    <li>City</li>
                    <li>Education:</li>
                    <li>Degree:</li>
                    <li>Major:</li>
                </div>

                <div>
                    <p class="aboutMe-list-center-side2 aboutMe-list-side2 aboutMe-center-small-list-side2">
                        Software Developer<br>
                        Epic Systems<br>
                        Madison WI<br>
                        The University of Michigan<br>
                        Bachelors May 2016<br>

                        Computer Science in Engineering<br>
                </div>
            </div>
            <div class="aboutMe-center-text aboutMe-left-text aboutMe-center-text-small">
           
                <p style="font-size: 16px";>		
				I am a software development engineer at  <a href="http://www.epic.com/">Epic Systems</a> in Madison Wisconsin. I received my Bachelor's degree in Computer Science Engineering from the University of Michigan in 2016. At Epic, I will be working on user facing applications which are designed to help inpatient clinicians quickly and easily understand patient data so that they can do their jobs quicker and better. <br><br>

				In my undergraduate pursuit, I was involved in imbedded systems research with <a href="http://lab11.eecs.umich.edu/">Lab11</a>, working for <a href="http://web.eecs.umich.edu/~prabal/">Professor Prabal Dutta</a>. The lab's focus was on the Internet of Things and pervasive computing. Specifically solving the last inch problem, one step beyond the last mile problem. We like to say that "The world would be a better place when everything is networked and everything is connected". Expounding on this, we want to live in a world  where a chair can tell you who is sitting in it and your refrigerator can query it's content and leave you a message dictating that you need to pick up milk on the way home from work. The solutions to this, at least right now, is sensors, tiny low power sensors everywhere. Of course this level of coverage is a ways off, but in my free time I'm slowly trying to build myself bits and pieces of a smart house, letting data and automation make my life easier.<br><br>

				I'm looking for projects to do in my free time to keep me up to date with the ever changing world of tech. If you have an idea or an app that needs a another part time developer feel free to reach out to me. And if you want to bounce ideas of someone, I'm always interested in talking  about tech and application design.<br><br>

				On a more social note, I enjoy music and live for driving. Sometimes I try to sing, but that’s more out of passion than talent. Sometimes I make video games, but usually I play them. I like beer, and love great food and sometimes I cook it. Let's make time to do one of these things!<br><br>
				</p>
            </div>
            


        </div>
    </section>
	
	<!-- Projects Section -->
	<section id="projects" class="container content-section text-center">
		<div class="row">

				<h2>Projects and Experience</h2>
            <div class="projects-center projects-left-side">
               <phead>EECS Help Application</phead>
               <p style="font-size: 16px";>As a final project for a UI Course, as part of a group of three, I built a mobile application to aid CS instructors in office hours. In an attempt to reduce friction in giving office hours we created a mobile queue of students who can be viewed, serviced and removed from the queue. This aims to solve the problem of whiteboard signups which both do not scale, and require the instructor to waste time in order to find who the next student on the queue is. It should serve as a mobile workstation for instructors conducting office hours.<br>
               </p>
            </div>

				<div class="projects-center projects-right-side">
					<phead>VLC Localization</phead>
					<p style="font-size: 16px";>As part of Professor Dutta's Lab, I implemented a piece of software which found the relative location of a camera to any known LED lights in the image. The project had a number of steps which follow. <br>
					1. Setup Led light tubes, which blink at specific, unique frequencies.<br> 
					2. Start Software side by leveraging openCV to create a bounding rectangle around each "blob" of light in the image(blobs tend to be formed from more than a single light source because of the proximity of the 4 tubes inside of a single box light). <br>
					<a href="/static/files/circle.png"><img class="center" src="/static/files/smallcircle.png" style="float: right; height:200px; horizontal-margin: 10%; width:130px" ></a>
					3. Finding Changes in frequencies through probing the rectangles with <a href="http://en.wikipedia.org/wiki/Fast_Fourier_transform">FFT</a>s. Using multiple points where the frequency change was over a noise threshold I created a line of best fit between the points minimizing the error while keeping the slope of the rectangle.<br>
					4. With all boxes seperated, the code finds the center of each box(the center of each led tube) and takes the frequency at that point. The frequency is then compared to known position and frequency pairs. This is the end of my section of the code. In the implementation, these matches are passed off to angle of arrival calculations which find location relative to each light located in the image. The process is accurate to the decimeter level. The code can be found on Lab11's <a href="https://github.com/lab11/vlc-localization">Github</a>.
					</p>
				</div>
				


				<div class="projects-center projects-left-side">
					<phead>Bang!</phead>
					<p style="font-size: 16px";>As part of a team, at Mhacks we designed and developed the Android application "Bang!". Bang was designed such that on a single button press, a random contact from the user's contact list was selected, and paired with a random pickup line from a sqlite database. This pickup line is then automatically sent to the selected contact using Android's SMS Manager. The code for this project can be found on <a href="https://github.com/ncnuech/bang">Github</a>.</p>
		            <img class="center" src="/static/files/bang.png" style="height:500px; horizontal-margin: 10%; width:300px" >
				</div>

				<div class="projects-center projects-right-side">
					<phead>Teaching</phead>
					<p style="font-size: 16px";>I was an instructional aid(TA/IA) for EECS: 482(Operating Systems) for the Winter 2015 semester under the direction of <a href="http://web.eecs.umich.edu/~jflinn/">Professor Jason Flinn</a>. As an instructional aid, I gave a weekly discussion to a section of 15-20 students(both Graduate and Undergraduate). I also held office hours every week, helping with conceptual project questions and debugging. The class covers multithreaded programming, scheduling, address spaces/virtual memory, filesystems and networking, as well as overviews of distributed systems and security</p>
				</div>

				<div class="projects-center projects-right-side">
        	        <phead>Programming Languages<br></phead>
        	    	<psmall>Ranging from most proficient to "I learned it once" &nbsp;<br></psmall>
        	   	</div>
				<div class="projects-center projects-right-side">
        	    	<li>C++</li>
        	    	<li>C</li>
        	    	<li>Android</li>
        	    	<li>SQL</li>
               <li>QT</li>
        	    	<li>Python</li>
        	    	<li>Java</li>
        	    	<li>Matlab</li>
        	    	<li>HTML/CSS</li>
        	    </div> 
		</div>
	</section>
	

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Me</h2>
                <p>Send me a message, i'd love to chat whether it be professional or personal</p>
                <p><a href="mailto:ncnuech@umich.edu">ncnuech@umich.edu</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://github.com/ncnuech" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                    	<a href="https://linkedin.com/in/noahnuechterlein" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                    </li>
                    <li>
                    	<a href="/static/files/NuechterleinResume.pdf" class="btn btn-default btn-lg"><i class="fa fa-file-pdf-o"></i> <span class="network-name">Resume</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Map Section -->
<!--    <div id="map"></div> -->

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p> &copy; Noah Nuechterlein 2016</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>

<!--	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> -->


    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <!-- <script type="/text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> -->

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/grayscale.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76536105-1', 'auto');
  ga('send', 'pageview');

</script>

</body>

</html>

